@model XFLCSMS.Models.Todos.TodoviewModel

@{
    Layout = "_MakerLayout";
    ViewData["Title"] = "Index";
    var P = ViewBag.pager;
    int i = 1;
    int start = 0;
    int end = 0;
    int current_page = 1;
    int page_size = 10;
    string searchString = null;
    if (P != null)
    {
        i = P.SerialStart;
        start = i;
        current_page = P.CurrentPage;
        page_size = P.PageSize;
        searchString = P.SearchString;

    }


    int[] rows_per_page = { 5, 10, 20, 50, 100 };
}

<section class="content">

    <div class="card-header">
        <div class="row">
            <div class="col-md-2">
                <div class="card-tools">
                    <div class="input-group">
                        <p class="mt-1 mb-1">Shows:  </p>
                        <select name="rowsPerPageSelect" class="ml-1 mt-0 mb-0" id="rowsPerPageSelect">
                            @for (int j = 0; j < rows_per_page.Length; j++)
                            {
                                @if (rows_per_page[j] == page_size)
                                {
                                    <option value="@rows_per_page[j]" selected>@rows_per_page[j]</option>
                                }
                                else
                                {
                                    <option value="@rows_per_page[j]">@rows_per_page[j]</option>
                                }
                            }
                        </select>
                        <input type="hidden" name="page" value="@current_page" />
                        <input type="hidden" name="searchString" value="@searchString" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-6">
                <div class="card-tools">
                    <div class="input-group rounded mt-1 mb-1">
                        <input type="search" class="form-control rounded" placeholder="Search"
                               name="searchString" value="@searchString" id="searchInput" aria-label="Search"
                               aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-0">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <!-- To-Do List Card -->
                <div class="card">
                    <div class="card-body">
                        <!-- To-Do Items List in a Table -->
                        <table class="table" id="issueTable">
                            <thead>
                                <tr>
                                    <th style="width: 5%">
                                        #SL
                                    </th>
                                    @* <th scope="col" style="width: 45%;">Task</th> *@
                                    <th style="width: 55%">
                                        Task
                                        @if (ViewBag.CurrentSortField == "Task")
                                        {
                                            @if (ViewBag.CurrentSortAscending)
                                            {
                                                <a asp-action="CompletedTodo" asp-route-rowperpage="@page_size"
                                                   asp-route-searchString="@searchString"
                                                   asp-route-sortField="Task" asp-route-sortAscending="false">
                                                    <i class="fas fa-sort-up"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-action="CompletedTodo" asp-route-rowperpage="@page_size"
                                                   asp-route-searchString="@searchString"
                                                   asp-route-sortField="Task" asp-route-sortAscending="true">
                                                    <i class="fas fa-sort-down"></i>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <a asp-action="CompletedTodo" asp-route-rowperpage="@page_size"
                                               asp-route-searchString="@searchString"
                                               asp-route-sortField="Task" asp-route-sortAscending="true">
                                                <i class="fas fa-sort-up"></i>
                                            </a>
                                        }
                                    </th>
                                    @* <th scope="col" style="width: 20%;">Created on</th> *@
                                    <th style="width: 20%">
                                        Created on
                                        @if (ViewBag.CurrentSortField == "CreatedOn")
                                        {
                                            @if (ViewBag.CurrentSortAscending)
                                            {
                                                <a asp-action="CompletedTodo" asp-route-rowperpage="@page_size"
                                                   asp-route-searchString="@searchString"
                                                   asp-route-sortField="CreatedOn" asp-route-sortAscending="false">
                                                    <i class="fas fa-sort-up"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-action="CompletedTodo" asp-route-rowperpage="@page_size"
                                                   asp-route-searchString="@searchString"
                                                   asp-route-sortField="CreatedOn" asp-route-sortAscending="true">
                                                    <i class="fas fa-sort-down"></i>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <a asp-action="CompletedTodo" asp-route-rowperpage="@page_size"
                                               asp-route-searchString="@searchString"
                                               asp-route-sortField="CreatedOn" asp-route-sortAscending="true">
                                                <i class="fas fa-sort-up"></i>
                                            </a>
                                        }
                                    </th>

                                    @* <th scope="col" style="width: 15%;">Status</th> *@
                                    <th style="width: 20%">
                                        Status
                                        @if (ViewBag.CurrentSortField == "Status")
                                        {
                                            @if (ViewBag.CurrentSortAscending)
                                            {
                                                <a asp-action="CompletedTodo" asp-route-rowperpage="@page_size"
                                                   asp-route-searchString="@searchString"
                                                   asp-route-sortField="Status" asp-route-sortAscending="false">
                                                    <i class="fas fa-sort-up"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-action="CompletedTodo" asp-route-rowperpage="@page_size"
                                                   asp-route-searchString="@searchString"
                                                   asp-route-sortField="Status" asp-route-sortAscending="true">
                                                    <i class="fas fa-sort-down"></i>
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <a asp-action="CompletedTodo" asp-route-rowperpage="@page_size"
                                               asp-route-searchString="@searchString"
                                               asp-route-sortField="Status" asp-route-sortAscending="true">
                                                <i class="fas fa-sort-up"></i>
                                            </a>
                                        }
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody id="todo-list">
                                @foreach (var todo in Model.Todos)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@todo.Todoname</td>
                                        <td>@todo.CreatedOn.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            @todo.Status
                                        </td>

                                    </tr>
                                    i++;
                                    end = i - 1;
                                }
                            </tbody>
                        </table>
                        <div id="paginationRow">
                            <div class="row">
                                <div class="col-md-4 pagination-container">
                                    <span>Sowing @start to @end form @ViewBag.pager.TotalRecord items</span>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6  ">
                                    @* <partial name="_Paging" model="@ViewBag.pager"></partial> *@
                                    @if (ViewBag.pager != null)
                                    {
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" asp-action="CompletedTodo" asp-controller="Maker" asp-route-page="1"
                                                   asp-route-rowperpage="@ViewBag.pager.PageSize"
                                                   asp-route-searchString="@ViewBag.pager.SearchString"> First</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" asp-action="CompletedTodo" asp-controller="Maker" asp-route-page="@ViewBag.pager.Previous"
                                                   asp-route-rowperpage="@ViewBag.pager.PageSize"
                                                   asp-route-searchString="@ViewBag.pager.SearchString">Previous</a>
                                            </li>

                                            @for (int k = @ViewBag.pager.StartButton; k <= @ViewBag.pager.StopButton; k++)
                                            {
                                                @if (k == @ViewBag.pager.CurrentPage)
                                                {
                                                    <li class="page-item">
                                                        <a class="btn btn-warning" asp-action="CompletedTodo" asp-controller="Maker" asp-route-page="1"
                                                           asp-route-rowperpage="@ViewBag.pager.PageSize"
                                                           asp-route-searchString="@ViewBag.pager.SearchString">@k</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="page-item">
                                                        <a class="page-link" asp-action="CompletedTodo" asp-controller="Maker" asp-route-page="@k"
                                                           asp-route-rowperpage="@ViewBag.pager.PageSize"
                                                           asp-route-searchString="@ViewBag.pager.SearchString">@k</a>
                                                    </li>
                                                }

                                            }

                                            <li class="page-item">
                                                <a class="page-link" asp-action="CompletedTodo" asp-controller="Maker" asp-route-page="@ViewBag.pager.Next"
                                                   asp-route-rowperpage="@ViewBag.pager.PageSize"
                                                   asp-route-searchString="@ViewBag.pager.SearchString">Next</a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" asp-action="CompletedTodo" asp-controller="Maker" asp-route-page="@ViewBag.pager.LastPage"
                                                   asp-route-rowperpage="@ViewBag.pager.PageSize"
                                                   asp-route-searchString="@ViewBag.pager.SearchString"> Last</a>
                                            </li>

                                        </ul>
                                    }
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        // Search input and Row per page select change event listener
        $("#searchInput, #rowsPerPageSelect").on('input change', function () {
            triggerPagination();
        });

        // Function to trigger pagination
        function triggerPagination() {
            // Get the values from the input fields
            var searchString = $("#searchInput").val();
            var currentPage = @current_page; // Ensure this variable is defined in your server-side code
            var rowPerPage = $("#rowsPerPageSelect").val();

            // Construct the URL with query parameters
            var url = '@Url.Action("CompletedTodo", "Maker")' +
                '?page=' + currentPage +
                '&rowperpage=' + rowPerPage +
                '&searchString=' + encodeURIComponent(searchString);

            // Perform the AJAX request
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    // Log the received data for debugging
                    //console.log(data);
                    // Update the issue table and pagination row
                    $('#issueTable').html($(data).find('#issueTable').html());
                    $('#paginationRow').html($(data).find('#paginationRow').html());
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle error scenarios
                    console.error("Error occurred:", errorThrown);
                }
            });
        }
    });
</script>

<script>
    function openEditModal(todoId) {
        // Fetch the specific todo data from the server
        fetch(`/Maker/GetTodo/${todoId}`)
            .then(response => response.json())
            .then(data => {
                //console.log(data);
                // Populate the modal fields with the fetched data
                document.getElementById('todoName').value = data.todoname; // Populate Todo Name
                document.getElementById('createdOn').value = new Date(data.createdOn).toISOString().split('T')[0]; // Populate Created On
                document.getElementById('todoStatus').value = data.status; // Populate Status
                document.getElementById('todoId').value = data.id; // Set the hidden Todo ID

                // Show the modal
                $('#editTodoModal').modal('show');
            })
            .catch(error => {
                console.error('Error fetching todo data:', error);
            });
    }


</script>


