@using System.IO;

@model XFLCSMS.Models.Issue.MakerView;
@{
    Layout = "_MakerLayout";
}

        <!-- Content Wrapper. Contains page content -->
       
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h4>View Details</h4>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>
         

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">General Information</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Created On</label>
                                            <input type="text" value="@Model.CreatedOn" class="form-control" id="exampleInputEmail1" placeholder="Created On" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Created By</label>
                                            <input type="text" value="@Model.CreatedBy" class="form-control" id="exampleInputEmail1" placeholder="Created By" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Approved On</label>
                                            <input type="text" value="@Model.ApproveOn" class="form-control" id="exampleInputEmail1" placeholder="Approved On" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Approved By</label>
                                            <input type="text" value="@Model.ApproveBy" class="form-control" id="exampleInputEmail1" placeholder="Approved By" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Assigned On</label>
                                            <input type="text" value="@Model.AssgnOn" class="form-control" id="exampleInputEmail1" placeholder="Assigned On" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Assigned By</label>
                                            <input type="text" value="@Model.AssgnBy" class="form-control" id="exampleInputEmail1" placeholder="Assigned By" readonly>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-6">
                            <!-- Form Element sizes -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Information Regarding Ticket</h3>
                                </div>

                                <form>

                                    <div class="card-body">

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Support Type</label>
                                            <input type="text" value="@Model.SupportType" class="form-control" id="exampleInputEmail1" placeholder="Support Type" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Support Category</label>
                                            <input type="text" value="@Model.SupportCatagory" class="form-control" id="exampleInputEmail1" placeholder="Support Category" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Support Sub-Category</label>
                                            <input type="text" value="@Model.SupportSubCatagory" class="form-control" id="exampleInputEmail1" placeholder="Support Sub-Category" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Affected Section</label>
                                            <input type="text" value="@Model.AffectedSection" class="form-control" id="exampleInputEmail1" placeholder="Affected Section" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Priority</label>
                                            <input type="text" value="@Model.Priority" class="form-control" id="Priority" placeholder="Priority" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Ticket Status</label>
                                            <input type="text" value="@Model.TicketStatus" class="form-control" id="TicketStatus" placeholder="Ticket Status" readonly>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                </form>

                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                    <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Ticket Title</h3>
                                </div>
                                <div class="card-body">
                                    
                                     <input type="text" asp-for= "@Model.IssueTitle" value="@Model.IssueTitle" class="form-control" id="IssueTitle"  readonly>
                                </div>
                        <div class="card-header">
                            <h3 class="card-title">Ticket Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->


                        <div class="card-body">
                            <label>Ticket Details</label>

                            <textarea class="form-control" rows="3" placeholder="Details Regarding Ticket from input" id="editor" readonly>

                                @Html.Raw(Model.TicketDetails)

                            </textarea>

                        </div>

                        <div class="card-body">
                            <label>Comments Regarding Ticket</label>
                            <textarea class="form-control" rows="3" placeholder="Comments Regarding Ticket from input" readonly>@Model.Command </textarea>
                        </div>

                            <div class="card-body">
                                <label>Attached Files</label>
                                <div class="row">
                                    <div class="col-12">
                                        @if (Model.Attachments.Count != 0)
                                        {
                                            <ul class="list-group">
                                                @foreach (var item in Model.Attachments)
                                                {
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        @item.FileName
                                                        <div>
                                                            <a href="@Url.Action("DownloadAttachment", "Maker", new { att = item.AttachmentId })" class="btn btn-outline-success">Download</a>


                                                        </div>
                                                    </li>
                                                }

                                            </ul>
                                        }
                                        else
                                        {
                                            <p>No Attachment found</p>
                                        }


                                    </div>
                                </div>


                            </div>
                    </div>

                    <!-- /.card-body -->

                </div>



                <!-- /.container-fluid -->
         </section>
            <!-- /.content -->
        




