@model XFLCSMS.Models.Issue.MakerView;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XFL CSMS | Issue Raise Form</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Bootstrap CSS from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS from CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- CKEditor from CDN -->
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

    <!-- Multiple file upload -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="../../index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="../../index3.html" class="brand-link">
                <img src="~/img/XFLlogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">XFL CSMS</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/img/md.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">M A MALQUE KIBRIA</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Forms
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>

                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Pages
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../examples/profile.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Profile</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../examples/projects.html" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../examples/project-add.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../examples/project-edit.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Edit Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../examples/project-detail.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ticket Detail</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-search"></i>
                                <p>
                                    Search
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../search/simple.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Simple Search</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../search/enhanced.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Enhanced</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Issue Raise Form</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Issue Raise Form</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form asp-action="EditTicketttt" asp-controller="Issue" name="files" method="post" enctype="multipart/form-data" id="uploadForm">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- left column -->
                            <div class="col-md-6">
                                <!-- general form elements -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">General Information</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label  for="exampleInputEmail1">Created On</label>
                                            <input type="text" asp-for= "@Model.CreatedOn" class="form-control" id="exampleInputEmail1" placeholder="Created On" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label  for="exampleInputEmail1">Created By</label>
                                            <input type="text" asp-for = "CreatedBy" class="form-control" id="exampleInputEmail1" placeholder="Created By" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Approved On</label>
                                            <input type="text" value="@Model.ApproveOn"  class="form-control" id="exampleInputEmail1" placeholder="Approved On" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Approved By</label>
                                            <input type="text" value="@Model.ApproveBy" class="form-control" id="exampleInputEmail1" placeholder="Approved By" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Assigned On</label>
                                            <input type="text" asp-for = "@Model.AssgnOn" value="@DateTime.Now" class="form-control" id="exampleInputEmail1" placeholder="Assigned On" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Assigned To</label>
                                            @* <input type="text" asp-for = "@Model.AssgnBy" class="form-control" id="exampleInputEmail1" placeholder="Assigned By" readonly> *@
                                            <select asp-for="@Model.AssgnBy" id="brokerageCodes" name="AssgnBy" class="form-control">
                                            @* <option value="@Model.AssgnBy">Select a support Engineer</option> *@
                                            <option value="">Unassign</option>
                                            @foreach (var item in @Model.SupportEngineers)
                                            {
                                                <option value="@item.FullName" >@item.FullName</option>
                                            }
                                            </select>
                                        </div>
                                        
                                        <input type="hidden" asp-for="@Model.IssueId" class="form-control" id="exampleInputEmail1" placeholder="Created By" readonly>

                                    </div>
                                    <!-- /.card-body -->

                                </div>
                                <!-- /.card -->
                            </div>
                            <!--/.col (left) -->
                            <!-- right column -->
                            <div class="col-md-6">
                                <!-- Form Element sizes -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Information Regarding Issue</h3>
                                    </div>

                                    <div class="card-body">

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Support Type</label>
                                            <input type="text" asp-for = "@Model.SupportType" class="form-control" id="exampleInputEmail1" placeholder="Support Type" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Support Category</label>
                                            <input type="text" asp-for = "@Model.SupportCatagory" class="form-control" id="exampleInputEmail1" placeholder="Support Category" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Support Sub-Category</label>
                                            <input type="text" asp-for ="@Model.SupportSubCatagory" class="form-control" id="exampleInputEmail1" placeholder="Support Sub-Category" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Affected Section</label>
                                            <input type="text" asp-for="@Model.AffectedSection" class="form-control" id="exampleInputEmail1" placeholder="Affected Section" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Priority</label>
                                            <input type="text" asp-for = "@Model.Priority" value="@Model.Priority" class="form-control" id="Priority" placeholder="Priority" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Ticket Status</label>
                                            <select asp-for="@Model.IStatus" id="brokerageCodes" name="IStatus" class="form-control">
                                            @* <input type="text" asp-for="@Model.TicketStatus" value="@Model.TicketStatus" class="form-control" id="TicketStatus" placeholder="Ticket Status" readonly> *@
                                            <option value="Open">Open</option>
                                            <option value ="Inqueue">Inqueue</option>
                                            <option value="Inprogress">In Progress</option>
                                            <option value="Close">Close</option>
                                            </select>
                                        </div>
                                        
                                    </div>


                                    <!-- /.card-body -->
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>

                            <div class="card-body">
                                <div>
                                    <label>Issue Title</label>
                                    <input asp-for="@Model.IssueTitle" value="@Model.IssueTitle" type="text" class="form-control" id="ITitle">
                             </div>
                            </div>

                            <div class="card-body">
                                <div>
                                    <label>Issue Details</label>
                                    <textarea asp-for="@Model.TicketDetails" id="editor"></textarea>
                                </div>
                            </div>

                            <div class="card-body">
                                <label>Comments Regarding Issue</label>
                                <textarea asp-for="@Model.Command" class="form-control" rows="3" placeholder="Enter Comments (If any)..."></textarea>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <label>Upload Files (Multiple-If required)</label>

                                    <div id="fileInputsContainer">
                                        <button type="button" class="btn btn-outline-success mt-3" onclick="addFileInput()">Add Files(+)</button>

                                    </div>
                                    @* <button type="button" class="btn btn-outline-primary mt-3" onclick="uploadFiles()">Upload</button> *@
@*                                     <div>
                                        <br />
                                        <input type="submit" value="Upload" class="btn btn-primary" />
                                    </div> *@

                                </div>

                            </div>
                            <div class="card-body">
                                <label>Attached Files</label>
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="list-group">
                                            @foreach(var item in Model.Attachments)
                                            {
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                @item.FileName
                                                <div>
                                                <a href="@Url.Action("DownloadAttachment", "Issue", new { att = item.AttachmentId })" class="btn btn-outline-success">Download</a>
                                                  @* <button class="btn btn-outline-danger delete-btn" type="button">&times; Delete</button> *@
                                                        <button class="btn btn-outline-danger delete-btn" type="button" data-attachment-id="@item.AttachmentId">&times; Delete</button>

                                                </div>
                                            </li>
                                            }

                                        </ul>
                                    </div>
                                </div>


                        </div><!-- /.container-fluid -->
                        <div>
                            <br />
                            <input type="submit" value="Upload" class="btn btn-primary" />
                        </div>

                    </div>
                </form>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2023 <a href="https://xpertfintech.com">XFL</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
    <script>
        $(document).ready(function () {
            function updateDateTime() {
                var currentDate = new Date();
                var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                var formattedDate = currentDate.toLocaleDateString('en-US', options);

                $('#currentDateTime').text(formattedDate);
            }

            // Update the date and time every second
            setInterval(updateDateTime, 1000);

            // Initial update
            updateDateTime();
        });
    </script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('editor');
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function addFileInput() {
            var fileInputsContainer = document.getElementById("fileInputsContainer");
            var fileInputContainer = document.createElement("div");
            var newFileInput = document.createElement("input");
            var deleteButton = document.createElement("button");

            var uniqueId = "fileInput_" + new Date().getTime(); // Generate a unique ID

            newFileInput.type = "file";
            newFileInput.className = "form-control mt-3";
            newFileInput.name = "files"; // Remove '[]' to send files as a list
            newFileInput.id = uniqueId; // Set the unique ID
            newFileInput.addEventListener("change", function () {
                updateFileList();
            });

            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger mt-2";
            deleteButton.textContent = "Delete";
            deleteButton.addEventListener("click", function () {
                fileInputsContainer.removeChild(fileInputContainer);
                updateFileList();
            });

            fileInputContainer.appendChild(newFileInput);
            fileInputContainer.appendChild(deleteButton);
            fileInputsContainer.appendChild(fileInputContainer);
            updateFileList();
        }

        function updateFileList() {
            var fileInputs = document.querySelectorAll("input[type='file']");
            var fileListContainer = document.getElementById("fileList");

            if (!fileListContainer) {
                fileListContainer = document.createElement("div");
                fileListContainer.id = "fileList";
                document.getElementById("uploadForm").appendChild(fileListContainer);
            }

            fileListContainer.innerHTML = "";

            var fileListText = "<strong>Selected Files:</strong><ul>";

            fileInputs.forEach(function (fileInput) {
                for (var i = 0; i < fileInput.files.length; i++) {
                    fileListText += "<li>" + fileInput.files[i].name + "</li>";
                }
            });

            fileListText += "</ul>";
            fileListContainer.innerHTML = fileListText;
        }

        // function uploadFiles() {
        //     var formData = new FormData($('#uploadForm')[0]);

        //     $.ajax({
        //         url: '/Issue/IssueRaiseFrom', // Update the URL as needed
        //         type: 'POST',
        //         data: formData,
        //         processData: false,
        //         contentType: false,
        //         success: function (result) {
        //             // Handle the success response
        //             console.log(result);
        //         },
        //         error: function (xhr, status, error) {
        //             // Handle errors
        //             console.error(xhr.responseText);
        //         }
        //     });
        // }
        function uploadForm() {
            var formData = new FormData(document.getElementById("uploadForm"));

            $.ajax({
                url: '/Issue/EditTicket', // Update the URL as needed
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    // Handle the success response
                    console.log(result);
                },
                error: function (xhr, status, error) {
                    // Handle errors
                    console.error(xhr.responseText);
                }
            });
        }



    </script>
    <script>
        // Function to update the read-only input field with the current date and time
        function updateDateTime() {
            // Get the current date and time
            var currentDate = new Date();

            // Format the date and time as a string
            var formattedDateTime = currentDate.toLocaleString();

            // Update the value of the read-only input field
            document.getElementById('dateTimeInput').value = formattedDateTime;
        }

        // Call the function when the page loads
        updateDateTime();

        // You can also update the date and time at regular intervals if needed
        // setInterval(updateDateTime, 1000); // Update every 1000 milliseconds (1 second)
    </script>

    <script>
        function uploadForms() {
            var formData1 = $('#form1').serialize();
            var formData2 = $('#form2').serialize();

            // Combine form data
            var combinedFormData = formData1 + '&' + formData2;

            // Make an AJAX request
            $.ajax({
                url: '/Issue/EditTicket', // Specify the upload action
                type: 'POST',
                data: combinedFormData,
                success: function (result) {
                    // Handle success
                    console.log(result);
                },
                error: function (xhr, status, error) {
                    // Handle errors
                    console.error(xhr.responseText);
                }
            });
        }
    </script>


   @*  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".delete-btn").on("click", function () {
                var attachmentId = $(this).data("attachment-id");

                if (confirm("Are you sure you want to delete this attachment?")) {
                    $.ajax({
                        url: "/Issue/DeleteAttachment",
                        type: "POST",
                        data: { attachmentId: attachmentId },
                        success: function () {
                            // Handle success, such as updating UI
                            alert("Attachment deleted successfully.");
                        },
                        error: function () {
                            // Handle error
                            alert("Error deleting attachment.");
                        }
                    });
                }
            });
        });
    </script> *@

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".delete-btn").on("click", function () {
                var attachmentId = $(this).data("attachment-id");
                var listItem = $(this).closest("li"); // Get the parent list item

                if (confirm("Are you sure you want to delete this attachment?")) {
                    $.ajax({
                        url: "/Issue/DeleteAttachment",
                        type: "POST",
                        data: { attachmentId: attachmentId },
                        success: function () {
                            // Handle success, such as updating UI
                            listItem.remove(); // Remove the deleted item from the list
                            alert("Attachment deleted successfully.");
                        },
                        error: function () {
                            // Handle error
                            alert("Error deleting attachment.");
                        }
                    });
                }
            });
        });
    </script>



</body>
</html>

