@model XFLCSMS.Models.Admin.ReportView;

<section class="content">
    <div class="container">
<div class="section">
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <h2><b> @Model.HeaderInfo.ReportName Results</b></h2>
        </div>
        <div class="col-md-12 text-right">
            @* <p>Date: @DateTime.Now +(@DateTime.Now.TimeOfDay)</p> *@
                    <p>Date: @{
                            var now = DateTime.Now;
                        }@(now.Date.ToShortDateString() + " ( " + now.ToShortTimeString()) )
                    </p>



        </div>
    </div>
</div>
            <div class="section">
            <div class="row ml-3">
                <div class="col-6" id="section1">
                    <!-- Column 1 -->
                    
                    <p style="font-size: 16px; font-family: Arial;">    <b>Brokerage House Name: </b>  <span id="brokerageHouseNamePlaceholder"> @Model.HeaderInfo.BrokerageHouseName</span></p>
                    <p style="font-size: 16px; font-family: Arial;">   <b>EmployeeName: </b>  <span id="employeeNamePlaceholder">@Model.HeaderInfo.EmployeeName</span></p>
                    <p style="font-size: 16px; font-family: Arial;">  <b>Total  Tickets: </b>   <span id="totalTicketPlaceholder">@Model.HeaderInfo.TotalTicket</span></p>
                </div>

                <div class="col-6" id="section2">
                    <!-- Column 2 -->
                   
                    <p> <span style="font-size: 16px; font-family: Arial;"> <b>Total Open Tickets: </b> </span> <span id="totalOpenReportsPlaceholder">@Model.HeaderInfo.TotalOpenTicket</span></p>
                    <p><span style="font-size: 16px; font-family: Arial;"> <b>Total Closed Tickets: </b> </span> <span id="totalClosedReportsPlaceholder">@Model.HeaderInfo.TotalCloseTicket</span></p>
                    <p><span style="font-size: 16px; font-family: Arial;"> <b>Total Inque Tickets: </b> </span> <span id="totalInQueueReportsPlaceholder">@Model.HeaderInfo.TotalInque</span></p>
                </div>
            </div>
        </div>

        <!-- Section 3: Search Results -->
        <div class="section ml-3" id="section3">
            <h4> <b>Search Results:</b></h4>
            <div id="searchResultsPlaceholder"></div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">


    <!-- Default box -->
    <div class="card">

        <div class="card-body p-0">
            <table class="table table-striped projects" id="issuesTable">
                <thead>
                    <tr>

                        <th style="font-size: 16px; font-family: Arial;">TNumber</th>
                        <th style="font-size: 16px; font-family: Arial;">Tickets</th>
                        <th style="font-size: 16px; font-family: Arial;">Approval Status</th>
                        <th style="font-size: 16px; font-family: Arial;">Priority</th>
                        <th style="font-size: 16px; font-family: Arial;">Status</th>
                       

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Issues)
                    {
                        <tr>
                            <td style="font-size: 14px; font-family: Arial;">@Html.DisplayFor(modelItem => item.TNumber)</td>
                            <td style="font-size: 14px; font-family: Arial;">
                                <a>
                                    <b>@Html.DisplayFor(modelItem => item.ITitle)</b>
                                </a>
                                <br />
                                <small>
                                    <b>Created on:</b> @Html.DisplayFor(modelItem => item.TDate)<br/>
                                    <b>Update On:</b> @Html.DisplayFor(modelItem => item.UpdatedOn)<br />
                                    <b>Update By:</b> @Html.DisplayFor(modelItem => item.UpdatedBy)

                                </small>
                            </td>

                            <td>

                                @if (item.AssignBy != null)
                                {
                                    <small>
                                        <b>Assigned on:</b> @Html.DisplayFor(modelItem => item.AssignOn)
                                        <br><b>Assigned To:</b> @Html.DisplayFor(modelItem => item.AssignBy)
                                        <br><b>Closed By:</b> @Html.DisplayFor(modelItem => item.ClosedBy)
                                    </small>
                                }
                                else
                                {
                                    <b class="blinking-text" style="color: red; visibility: visible;">
                                        Unassigned
                                    </b>
                                }
                            </td>
                            <td style="font-size: 14px; font-family: Arial;">@Html.DisplayFor(modelItem => item.Priority)</td>
                            <td class="project-state" style="font-size: 14px; font-family: Arial;">
                                <span > @Html.DisplayFor(modelItem => item.IStatus)</span>
                            </td>
                        </tr>

                    }


                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var blinkingElements = document.querySelectorAll('.blinking-text');

        blinkingElements.forEach(function (element) {
            setInterval(function () {
                element.style.visibility = (element.style.visibility === 'hidden') ? 'visible' : 'hidden';
            }, 800); // Toggle visibility every 1000 milliseconds (1 second)
        });
    });
</script>





