@model XFLCSMS.Models.Todos.TodoReportView;
@{
   int i=1;
}

<section class="content">
    <div class="container">
        <div class="section">
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <h2><b> @Model.TodoHederInfo.ReportName Todo Report</b></h2>
                </div>
                <div class="col-md-12 text-right">
                    @* <p>Date: @DateTime.Now +(@DateTime.Now.TimeOfDay)</p> *@
                    <p>
                        Date: @{
                            var now = DateTime.Now;
                        }@(now.Date.ToShortDateString() + " ( " + now.ToShortTimeString()) )
                    </p>



                </div>

            </div>
        </div>
        <div class="section">
            <div class="row ml-3">
                <div class="col-6" id="section1">
                    <!-- Column 1 -->

                    <p style="font-size: 16px; font-family: Arial;">    <b>Brokerage House Name: </b>  <span id="brokerageHouseNamePlaceholder"> @Model.TodoHederInfo.BrokerageHouseName</span></p>
                    <p style="font-size: 16px; font-family: Arial;">   <b>EmployeeName: </b>  <span id="employeeNamePlaceholder">@Model.TodoHederInfo.EmployeeName</span></p>
                    <p style="font-size: 16px; font-family: Arial;">  <b>Total  Todos: </b>   <span id="totalTicketPlaceholder">@Model.TodoHederInfo.TotalTodo</span></p>
                </div>

                <div class="col-6" id="section2">
                    <!-- Column 2 -->

                    <p> <span style="font-size: 16px; font-family: Arial;"> <b>Total Inprogress Todo: </b> </span> <span id="totalOpenReportsPlaceholder">@Model.TodoHederInfo.TotalInprogress</span></p>
                    <p><span style="font-size: 16px; font-family: Arial;"> <b>Total Completed Todo: </b> </span> <span id="totalClosedReportsPlaceholder">@Model.TodoHederInfo.TotalCompleteTodo</span></p>
                    <p><span style="font-size: 16px; font-family: Arial;"> <b>Total Canceled Todo: </b> </span> <span id="totalInQueueReportsPlaceholder">@Model.TodoHederInfo.TotalCanseled</span></p>
                </div>
            </div>
        </div>

        <!-- Section 3: Search Results -->
@*         <div class="section ml-3" id="section3">
            <h4> <b>Search Results:</b></h4>
            <div id="searchResultsPlaceholder"></div>
        </div> *@
    </div>
</section>
<!-- Main content -->
<section class="content">


    <!-- Default box -->
    <div class="card">

        <div class="card-body p-0">
            <table class="table table-striped projects" id="issuesTable">
                <thead>
                    <tr>
                        <th style="font-size: 16px; font-family: Arial;">
                            #SL
                        </th>
                        <th style="font-size: 16px; font-family: Arial;">Todo Name</th>
                        <th style="font-size: 16px; font-family: Arial;">Created On</th>
                        <th style="font-size: 16px; font-family: Arial;">Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Todos)
                    {
                        <tr>
                           
                            <td style="font-size: 14px; font-family: Arial;">@i</td>
                            <td style="font-size: 14px; font-family: Arial;">
                                <a>
                                    <b>@item.Todoname</b>
                                </a>
                            </td>
                            <td style="font-size: 14px; font-family: Arial;">@item.CreatedOn.ToString("yyyy-MM-dd")</td>

                            <td style="font-size: 14px; font-family: Arial;">@item.Status</td>
                          
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>






