@model XFLCSMS.Models.Admin.Dashboard;
@{
    // ViewData["Title"] = "Register";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XFL CSMS | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- XFL CSMS css -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/~plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">

    <!--Graph-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        canvas {
            max-width: 800px;
            margin: 20px;
        }
    </style>
</head>


<body class="hold-transition sidebar-mini layout-fixed" oncontextmenu="return false">
    <div class="wrapper">
        <!-- Preloader -->
@*         <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/XFLlogo.png" alt="XFLlogo" height="60" width="60">
        </div> *@

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-action="Dashbord" class="nav-link">Home</a>
                </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
@*                 <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li> *@
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-action="Dashbord" class="brand-link">
                <img src="~/img/XFLlogo.png" alt="XFL Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">XFL CSMS</span>
            </a>

            <div class="sidebar">


                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @ViewBag.Profile.FullName
                                </a>
                                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                    <a class="dropdown-item" asp-action="Profile" asp-route-id="@ViewBag.Profile.Id">My Profile</a>
                                    <a class="dropdown-item" asp-action="ChangePassword">Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Admin">Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->

                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Pages
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="UserList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>User List</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-action="AdminView" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>All Ticket List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="UnassignedTicketList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Unassigned Tickets List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="ClosedTicketList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Closed Ticket List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="BrocarageHouseList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Brokerage House List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="BranchList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Branch List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="SupportTypeList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Support Type List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="SupportCatagoryList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p> Catagory List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="SupportSubCatagoryList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sub-Catagory List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="AffectedSectionList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Affected Section List</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="toggleSubMenu">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View To-Do List</p>
                                    </a>
                                    <ul class="ml-5 nav nav-treeview custom-treeview" id="subMenu" style="display: none;">
                                        <!-- Initially hidden -->
                                        <li class="nav-item">
                                            <a asp-action="ViewTodo" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>To-Do List</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="AllTodo" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>All To-Do</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="CompletedTodo" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Complete Task</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="TodoReports" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>To-Do Report</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="toggleSubMenu">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p> All To-Do List</p>
                                    </a>
                                    <ul class="ml-5 nav nav-treeview custom-treeview" id="subMenu" style="display: none;">
                                        <!-- Initially hidden -->
                                        <li class="nav-item">
                                            <a asp-action="ViewAllTodo" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p> All To-Do List</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a asp-action="AllTodoReports" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p> All To-Do Report</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </li>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
@*             <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Dashboard</h1>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div> *@
            <!-- /.content-header -->
            <!-- Main content -->
            <br />
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-primary">
                                <div class="inner">
                                    <h3>@Model.TotalTicket</h3>

                                    <p>Total Tickets</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-flag"></i>
                                </div>
                                <a asp-action="AdminView" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>@Model.TotalQueue</h3>

                                    <p>Unassigned Tickets</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios-list"></i>
                                </div>
                                <a asp-action="UnassignedTicketList" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>@Model.TotalClosed</h3>

                                    <p>Closed Tickets</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-checkmark-circled"></i>
                                </div>
                                <a asp-action="ClosedTicketList" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                        <section class="col-md-6 connectedSortable">
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Timeline wise Graphical view (Last 1 Year)</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <canvas id="ticketsChart" height="400" width="400"></canvas>
                                    <!-- Timeline Graph-->
                                    <script>
                                        // Sample data for tickets (you can replace it with your actual data)
                                        const barChartData = {
                                            labels: ['Today', 'Weekly', 'Monthly', 'Yearly'],
                                            datasets: [{
                                                    label: 'Total Tickets',
                                                    data: [@Model.TodayTotalTicket, @Model.WeeklyTotalTicket, @Model.MonthlyTotalTicket,@Model.YearlyTotalTicket], // Replace with your actual data
                                                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Paste-color
                                                    borderColor: 'rgba(75, 192, 192, 1)',
                                                    borderWidth: 1
                                                },
                                                {
                                                    label: 'Tickets in Queue',
                                                    data: [@Model.TodayTotalQueue, @Model.WeeklyTotalQueue, @Model.MonthlyTotalQueue, @Model.YearlyTotalQueue], // Replace with your actual data
                                                    backgroundColor: 'rgba(255, 206, 86, 0.2)', // Yellow Color
                                                    borderColor: 'rgba(255, 206, 86, 1)',
                                                    borderWidth: 1
                                                },
                                                {
                                                    label: 'Closed Tickets',
                                                    data: [@Model.TodayTotalClosed, @Model.WeeklyTotalClosed, @Model.MonthlyTotalClosed, @Model.YearlyTotalClosed], // Replace with your actual data
                                                    backgroundColor: 'rgba(0, 255, 0, 0.2)', // Green color
                                                    borderColor: 'rgba(0, 255, 0, 1)',
                                                    borderWidth: 1
                                                }
                                            ]
                                        };

                                        const barChartConfig = {
                                            type: 'bar',
                                            data: barChartData,
                                            options: {
                                                scales: {
                                                    y: {
                                                        beginAtZero: true
                                                    }
                                                }
                                            }
                                        };

                                        // Create the bar chart
                                        const barCtx = document.getElementById('ticketsChart').getContext('2d');
                                        new Chart(barCtx, barChartConfig);
                                    </script>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </section>

                        <!-- Add another section for the pie chart -->
                        <section class="col-md-6 connectedSortable">
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Ticket Status (All Time)</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <div class="card-body">
                                    <canvas id="pieChart" height="400" width="400"></canvas>
                                    <script>
                                        // Calculate percentage values for pie chart
                                        var totalTickets = @Model.TotalTicket; // Replace with your actual total tickets count
                                        var inQueueTickets = @Model.TotalQueue; // Replace with your actual in-queue tickets count
                                        var closedTickets = @Model.TotalClosed; // Replace with your actual closed tickets count

                                        var percentageInQueue = ((inQueueTickets / totalTickets) * 100).toFixed(2);
                                        var percentageClosed = ((closedTickets / totalTickets) * 100).toFixed(2);

                                        // Sample data for pie chart
                                        var pieChartData = {
                                            labels: [`In Queue (${percentageInQueue}%)`, `Closed (${percentageClosed}%)`],
                                            datasets: [{
                                                data: [inQueueTickets, closedTickets],
                                                backgroundColor: ['#FFD700', '#008000'],
                                                hoverBackgroundColor: ['#FFD700', '#008000']
                                            }]
                                        };

                                        var pieChartConfig = {
                                            type: 'pie',
                                            data: pieChartData,
                                            options: {
                                                tooltips: {
                                                    callbacks: {
                                                        label: function (tooltipItem, data) {
                                                            var dataset = data.datasets[tooltipItem.datasetIndex];
                                                            var total = dataset.data.reduce(function (previousValue, currentValue) {
                                                                return previousValue + currentValue;
                                                            });
                                                            var currentValue = dataset.data[tooltipItem.index];
                                                            var percentage = ((currentValue / total) * 100).toFixed(2);
                                                            return `${data.labels[tooltipItem.index]}: ${currentValue} (${percentage}%)`;
                                                        }
                                                    }
                                                }
                                            }
                                        };

                                        // Create the pie chart
                                        var pieCtx = document.getElementById('pieChart').getContext('2d');
                                        new Chart(pieCtx, pieChartConfig);
                                    </script>
                                </div>
                            </div>
                        </section>
                    </div>


                    <div class="row">
                        <section class="col-md-12">
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Brokerage House wise graphical view</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">

@*                                     <canvas id="brokerageChart"></canvas> *@
@*                                     <script>
                                        Sample data (replace with your actual data)

                                        const brokerageData = {
                                            labels: ['Apex Investments Ltd.', 'Bank Asia Securities Ltd.', 'EBL Securities Ltd.', 'Green Delta Securities Ltd.',
                                            'Islami Bank Securities Ltd.', 'Monarch Holdings Ltd.', 'NLI Securities Ltd.', 'One Securities Ltd.',
                                            'Shahjalal Islami Bank Securities Ltd.', 'UCB Stock Brokerage Ltd.', 'Xpert Fintech Limited'],
                                  
                                            datasets: [{
                                                label: 'Total Tickets',
                                                data: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550],
                                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                                borderColor: 'rgba(75, 192, 192, 1)',
                                                borderWidth: 1
                                            }, {
                                                label: 'In Queue',
                                                data: [20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220],
                                                backgroundColor: 'rgba(255, 206, 86, 0.2)', // Yeollow Color
                                                borderColor: 'rgba(255, 206, 86, 1)',
                                                borderWidth: 1
                                            }, {
                                                label: 'Closed Tickets',
                                                data: [30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330],
                                                backgroundColor: 'rgba(0, 255, 0, 0.2)', // Green color
                                                borderColor: 'rgba(0, 255, 0, 1)',
                                                borderWidth: 1
                                            }]
                                        };
                                        // const brokerageData= @Model.ChartData
                                        const chartOptions = {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        };

                                        // Create the charts
                                        const brokerageChartCtx = document.getElementById('brokerageChart').getContext('2d');
                                        new Chart(brokerageChartCtx, {
                                            type: 'bar',
                                            data: brokerageData,
                                            options: chartOptions
                                        });

                                    </script>   *@ 
                                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                                    <canvas id="myChart" width="400" height="200"></canvas>

                                    <script>
                                        var ctx = document.getElementById('myChart').getContext('2d');
                                        var myChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: @Html.Raw(Json.Serialize(@Model.ChartData))
                                            });
                                    </script>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </section>
                    </div>
                    <!-- /.row (main row) -->

                    <div class="row">
                        <section class="col-md-12">
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Report Archive</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    @* <button asp-action="Reports" asp-controller="Admin" type="submit" class="btn btn-outline-info btn-block">All Type of Reports</button> *@
                                    <a asp-action="Reports" asp-controller="Admin" class="btn btn-outline-info btn-block">All Type of Reports</a>
                                    

                                   
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </section>
                    </div>
                 </div>
                    <!-- /.container-fluid -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2024 <a href="https://xpertfintechlimited.com">Xpert Fintech Limited</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- JQVMap -->
    <script src="~plugins/jqvmap/jqvmap.min.css"></script>
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>


    <script>
        document.onkeydown = function (e) {
            if (event.keyCode == 123) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                return false;
            }


        }
    </script>

    <script type="text/javascript">
        // Define a function named preventback
        function preventback() {
            // Forward the browser's history by one step, effectively preventing the user from going back
            window.history.forward();
        }

        // Set a timeout to call the preventback function immediately after the script is executed
        setTimeout("preventback()", 0);

        // When the window loads, assign a null function to the onload event to effectively do nothing
        window.onload = function () { null };
    </script>


</body>
</html>
