@model IEnumerable<XFLCSMS.Models.DataTable.Customer>

@{
    // ViewData["Title"] = "Register";
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.8/css/jquery.dataTables.css">

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="~/plugins/datatables/jquery.dataTables.js"></script>

   

    <!-- Add these links to your head section -->

</head>
<body>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
    <table id="dataTabledata" class="table table-bordered">
    <thead >
        <tr>

            <th>
                ID
            </th>
            <th>
                    FirstName
            </th>
            <th>
                    LastName
            </th>
            <th>
                    Gender
            </th>
            <th>
                Age
            </th>
            <th>
                    Country
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cust_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cust_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cust_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTabledata').DataTable();
        });
    </script>
   
</body>


</html>



